.container--template {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 100px;
}

.container--template-contents {
    display: flex;
    flex-direction: column;
    background-color: var(--shape);
    border-radius: 8px;
    padding: 32px;
    min-height: 400px;
    align-items: center;
}